.sidebar {
   padding: 1em;
   height: 100%;
   box-shadow: 3px 0 3px -2px #888;
   color: white;
   background: black;
   margin-left: 0;
   margin-right: 0;
   top: 0;
   position: fixed;
   bottom: 0;
   width: 25%;
}

ul {
   list-style-type: none;
   justify-content: space-around;
   padding-left: 0;
   margin-left: 0;
   margin-right: 0;
   padding-right: 0;
}

li {
   padding: 1em;
   width: 100%; 
}

li:hover {
   cursor: pointer;
   background: white;
   color: black;
}

.active {
   background: white;
   color: black;  
}

a {
   text-decoration: none;
   color: white;
}