<div *ngIf="!loading" class="list">
   <div  *ngFor="let champion of champions" class="row champion-list" (click)="showDetails(champion)">
      <div class="col-md-2 icon">
         <img class="img-fluid rounded-circle" [src]="champion.getImages().getFullImageFilename()">
      </div>

      <div class="col-md-3 champion-summary">
         <div class="row">
            <div class="col-12">
               <h2 class="mb-0 champion-name">{{ champion.getName() }}</h2>
               <p class="mt-0 champion-title"><em>{{ champion.getTitle() }}</em></p>
            </div>
         </div>

         <div class="row">
            <div class="col-12">
               <span *ngFor="let tag of champion.getInfo().getTags()" class="badge badge-secondary">{{ tag }}</span>
            </div>
         </div>
      </div>

      <div class="col-md-7 mt-auto mb-auto">
         <div class="row">
            <div class="col-12">
               <ul>
                  <li>Attack: {{ champion.getInfo().getAttack() }}</li>
                  <li>Defense: {{ champion.getInfo().getDefense() }}</li>
                  <li>Magic: {{ champion.getInfo().getMagic() }}</li>
                  <li>Difficulty: {{ champion.getInfo().getDifficulty() }}</li>
               </ul>
            </div>
         </div>
      </div>
   </div>
</div>